{% extends "index.html" %}
{% block content %}
{% if searchdata %}

        
        <div class="search">
        <table >
            
            <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Age</td>
            </tr>
            {% for d in searchdata %}
            <tr>
            <td> {{ d.id }}</td>
           <td> {{ d.name }}</td>
            <td>{{ d.email }}</td>
            <td> {{ d.age }}</td>
        </tr>
        {% endfor %}
        
    </table>
    
</div>

        
        <button class="btn"><a href="{% url 'form' %}">Back</a></button>
        
{% else %}
<div class="no_result">
    <h3>No Result</h3>
    <button class="btn"><a href="{% url 'form' %}">Back</a></button>
</div>  
    
{% endif %}



{% endblock content %}
